.book {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book__img {
    max-height: 500px;
}

.book__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.book__author {
    margin-bottom: 5rem;

}

.book__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.book__key {
    font-weight: 700;
}

.book__btn {
    flex-grow: 1;    
    display: flex;
    align-items: flex-end;
}